<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Neptun LAB" />
  <meta charset="utf-8">
  <title>Neptun LAB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alessandro Di Pasquale">
  <link rel="stylesheet" href="css/style-new.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/script.js" defer></script>
  <script src="login.js"></script>
</head>

<body>
  <div class="menu">
    <h1 class="titolo-menu">NeptunLAB</h1>
    <a class="menu-item" href="index.html"><button>Home</button></a>
    <a class="menu-item" href="prima pagina.html"><button>Anime</button></a>
    <a class="menu-item" href="seconda pagina.html"><button>Assistenza</button></a>
    <div class="search-container">
      <input type="text" id="search-bar" class="search-bar" placeholder="Cerca...">
      <i class="fas fa-search search-icon" onclick="toggleSearch()"></i>
    </div>
      <button class="button1" id="form-open">Login</button>
  </div>
     <!-- Home -->
     <section class="home">
      <div class="form_container">
        <i class="uil uil-times form_close"></i>
     <!-- Login From -->
     <div class="form login_form">
      <form action="#">
        <h2>Login</h2>
        <div class="input_box">
          <input type="email" placeholder="Enter your email" required />
          <i class="uil uil-envelope-alt email"></i>
        </div>
        <div class="input_box">
          <input type="password" placeholder="Enter your password" required />
          <i class="uil uil-lock password"></i>
          <i class="uil uil-eye-slash pw_hide"></i>
        </div>
        
        <div class="option_field">
          <span class="checkbox">
            <input type="checkbox" id="check" />
            <label for="check">Remember me</label>
          </span>
          <a href="#" class="forgot_pw">Forgot password?</a>
        </div>
        <button class="button">Login Now</button>
        <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
      </form>
    </div>
    <!-- Signup From -->
    <div class="form signup_form">
      <form action="#">
        <h2>Signup</h2>
        <div class="input_box">
          <input type="email" placeholder="Enter your email" required />
          <i class="uil uil-envelope-alt email"></i>
        </div>
        <div class="input_box">
          <input type="password" placeholder="Create password" required />
          <i class="uil uil-lock password"></i>
          <i class="uil uil-eye-slash pw_hide"></i>
        </div>
        <div class="input_box">
          <input type="password" placeholder="Confirm password" required />
          <i class="uil uil-lock password"></i>
          <i class="uil uil-eye-slash pw_hide"></i>
        </div>
        <button class="button">Signup Now</button>
        <div class="login_signup">Already have an account? <a href="#" id="login">Login</a></div>
      </form>
    </div>
  </div>
  </form>
  </section>
</body>

</html>