<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Neptun LAB" />
  <meta charset="utf-8">
  <title>Neptun LAB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alessandro Di Pasquale">
  <link rel="stylesheet" href="css/menustyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <input type="checkbox" name="" id="chk1">
    <div class="logo"><h1>NeptunLab</h1></div>
    <div class="search-box">
      <form action="">
        <input type="text" name="search" id="srch" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Prima pagina</a></li>
      <li><a href="#">Seconda pagina</a></li>
      <li>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
      </li>
    </ul>
    <div class="menu">
      <label for="chk1">
        <i class="fa fa-bars"></i>
      </label>
    </div>
  </header>
</body>