<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Neptun LAB" />
  <meta charset="utf-8">
  <title>Neptun LAB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alessandro Di Pasquale">
  <link rel="stylesheet" href="css/style-new.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <script src="js/script.js" defer></script>
  <script src="js/login.js" defer></script>
  <script src="https://kit.fontawesome.com/06a651c8da.js"></script>
</head>

<body>
  <div class="menu">
    <h1 class="titolo-menu">NeptunLAB</h1>
    <a class="menu-item" href="index.html"><button>Home</button></a>
    <a class="menu-item" href="prima pagina.html"><button>Anime</button></a>
    <a class="menu-item" href="seconda pagina.html"><button>Assistenza</button></a>
    <div class="search-container">
      <input type="text" id="search-bar" class="search-bar" placeholder="Cerca...">
      <i class="fas fa-search search-icon" onclick="toggleSearch()"></i>
    </div>
    <button class="btnLogin-popup" id="form-open"><i class="fas fa-user"></i>   Login</button>
</body>

</html>