.container {
    background-color: red;
}
.semplice-link {color:red;}
.semplice-link:hover{color:green;}

.nav {height:200px;
    background-color:#cfd11a;
padding: 20px; display: flex;}
.primodiv {height:150px; 
    width:250px; 
    display:inline-block;
    background-color: whitesmoke;
    margin: 40px;
   } 
.secondodiv {height:50px; 
    width:50px; 
    display:block; 
    background-color: orange; position: fixed;}
.menu-item {background-color:whitesmoke;
    margin-right: 1rem;
    text-decoration:none ;
    padding: 0.25rem;
    color: black;
    }
.menu {background-color: #23252b;
    padding: 10px; border: 0.1rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem; 
    display: flex ;text-align: center;
    }
.titolo-menu {color:whitesmoke; text-shadow: 2px 2px;
    margin-right: 1rem;
    padding: 0.25rem;
    text-align: right;}
.menu2 { text-align: right;}
.corpoDelTesto {background-color:aquamarine;
    margin-right: 0rem;
    text-decoration:none ;padding:5.525rem;
    text-align:center;
    border: 0.2rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}
.corpoDelTestoPrimaPagina {background-color:aquamarine;
    margin-right: 0rem;
    margin-left: 0rem;
    text-decoration:none ;padding:6rem;
    text-align:left;
    border: 0.2rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}

    .banner {background-color: #23252b;
    margin-right: 0rem;
    text-align: center;
    text-decoration:color-mix(in srgb-linear, violet 10, yellow 90) ;
    padding: 10px; border: 0.1rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}
.video {background-color: #23252b;
    padding: 0px; border: 0px; 
    border-color: brown;
    border-style: solid;
    border-radius: 1rem;}
.video-item {
    margin-right: 0px;
    text-decoration:none ;padding: 0.15px;}
html {font-size: 16px;}
.titolo {color:whitesmoke; text-shadow: 2px 2px;}

body{font-family: sans-serif; margin: 0;}

.contnet{padding: 25px; width: 100%; box-sizing: border-box; margin: 0 auto; float: left;}

#modulo{padding: 15px; background:aquamarine; color: black; overflow: auto;}

#modulo h1{margin: 0;}

#modulo h3{margin: 15px 0 25px;}

#modulo ul{list-style: none; padding: 0; margin: 0; width: 100%;}

#modulo ul li{padding: 10px 0; width: 50%; float: left; box-sizing: border-box;}

#modulo ul li.tre,#modulo ul li.quattro{float: none; clear: left; width: 100%;}

#modulo ul li.uno{margin-right: 1%;}

#modulo ul li.quattro{padding: 20px 0; text-align: center;}

#modulo ul li label{display: block; padding-bottom: 5px; width: 50%; text-align: left;}

#modulo ul li input{border: solid 2px #000; background: rgba(255, 255, 255, 0.2); color: black; float: left;}

#modulo ul li.testo{padding: 10px; width: 100% ; box-sizing: border-box;}

#modulo ul li textarea{padding: 10px; color: black; width: 100%; height: 100px; background: rgba(255, 255, 255, 0.2); border: solid 2px
black; box-sizing: border-box;}

#modulo ul li .pulsante{color: #fff; background: black; border: solid 2px darkorchid; padding: 12px 25px; text-transform: uppercase;cursor: pointer; font-weight: bold; transition: 0.5s;}

#modulo ul li .pulsante:hover{background:aquamarine; color: #fff; border: solid 2px black;}