.container {
    background-color: red;
}
.semplice-link {color:red;}
.semplice-link:hover{color:green;}
.nav {height:200px;
    background-color:#cfd11a;
padding: 20px; display: flex;}
.primodiv {height:50px; 
    width:50px; 
    display:block;
     background-color: green;} 
.secondodiv {height:50px; 
    width:50px; 
    display:block; 
    background-color: orange; position: fixed;}
.menu-item {background-color: #23252b;
        margin-right: 5rem;
        text-decoration:none ;padding: 0.25rem;}
.menu {background-color: blueviolet;
        padding: 10px; border: 0.2rem; 
    border-color: brown;
        border-style: solid;
        border-radius: 1rem;}
.corpoDelTesto {background-color: aqua;
    margin-right: 1rem;
    text-decoration:none ;padding: 05.525rem;}
.banner {background-color: orangered;
    margin-right: 1rem;
    text-align: center;
    text-decoration:color-mix(in srgb-linear, violet 10, yellow 90) ;
    padding: 0.1rem;}
html {font-size: 16px;}
.titolo {color:blueviolet}