.container {
    background-color: red;
}
.semplice-link {color:red;}
.semplice-link:hover{color:green;}

.nav {height:200px;
    background-color:#cfd11a;
padding: 20px; display: flex;}
.primodiv {height:150px; 
    width:250px; 
    display:inline-block;
    background-color: whitesmoke;
    margin: 40px;
   } 
.secondodiv {height:50px; 
    width:50px; 
    display:block; 
    background-color: orange; position: fixed;}
.menu-item {background-color: #f47521;
    margin-right: 1rem;
    text-decoration:none ;padding: 0.25rem;}
.menu {background-color: #23252b;
    padding: 10px; border: 0.1rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}
.corpoDelTesto {background-color: yellow;
    margin-right: 0rem;
    text-decoration:none ;padding:5.525rem;
    text-align:center;
    border: 0.2rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}
.corpoDelTestoPrimaPagina {background-color: yellow;
    margin-right: 0rem;
    margin-left: 0rem;
    text-decoration:none ;padding:6rem;
    text-align:left;
    border: 0.2rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}

    .banner {background-color: #23252b;
    margin-right: 0rem;
    text-align: center;
    text-decoration:color-mix(in srgb-linear, violet 10, yellow 90) ;
    padding: 10px; border: 0.1rem; 
    border-color: brown;
    border-style: solid;
    border-radius: 0.1rem;}
.video {background-color: #23252b;
    padding: 0px; border: 0px; 
    border-color: brown;
    border-style: solid;
    border-radius: 1rem;}
.video-item {
    margin-right: 0px;
    text-decoration:none ;padding: 0.15px;}
html {font-size: 16px;}
.titolo {color:#f47521; text-shadow: 2px 2px;}